.app {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #101728;
  color: #FFFFFF; /* Default font color */
}

.app-name {
  font-family: 'OpenSans-Bold';
  font-size: 58px;
  color: #FFFFFF;
  padding-bottom: 100px;
}

.login-main-layout {
  display: flex;
  flex-direction: row;
}

.login-sub-layout {
  padding-top: 30px;
  padding-left: 80px;
  width: 100%;
  height: 100%;
}

.login-form {
  width: 100%;
  margin-bottom: 100px;
}

.login-image {
  width: 100%;
}

.app-name-login-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.login-btn-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}